ul.socials {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

ul.socials > li {
    float: left;
    display: block;
    padding-right: 0.8em;
}

ul.socials img {
    color: #ff0000;
    width: 25px;
}

nav {
    text-align: center;
}

body {
    font: 1.1em/1.5em sans-serif;
    max-width: 55em;
    margin: 1em auto;
    padding: 0 .6em;
}

h1, h2, h3 {
    line-height: 1.2em;
    text-align: center;
}

/*
 * TODO: figure out how inheritance works in CSS so I can nest it all under .books 
*/

ul.books {
    margin: 0 auto;
    text-align: center;
    padding: 0
}

ul.books > li {
    display: inline-block;
    vertical-align: top;
    padding: 13px;
}

.books h4 {
    margin: 0;
    /* 
     * em are similar to %; they scale according to default text size; but they cascade
     * font-size/line-height font-family
    */
    font: 0.9em/1.2em sans-serif;
}

.books p {
    margin: 0;
    font: 0.8em/1.1em sans-serif;
}

footer {
    text-align: center;
    font: 0.7em/1.2em sans-serif;
}

/*
img {
    max-width: 80%;
    display: block;
    margin: .75em auto;
}

code {
    font: 1.1em/1.5em monospace;
}

table {
    width: 100%;
}

table, td {
    border-spacing: 1px;
}

td {
    padding: 0.5em;
}

dt {
    font-weight: bold;
}

ul, ol {
    text-align: left;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font: 0.7em/1.2em sans-serif;
    font-style: italic;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

blockquote {
    border-left: 1px solid black;
    padding-left: 1em;
    color: #777;
}

.fleuron {
    text-align: center;
    font: 2.5em/1em sans-serif;
}

.footnotes {
    font: 0.7em/1.2em sans-serif;
}

.blognav {
    display: flex;
    justify-content: space-between;
    font: 2em/1em sans-serif;
}

.blogtoc {
    text-align: center;
}

.horbar {
    max-width: 25%;
}

.codebox {
    padding-left: 4em;
}
*/
