/*How to nest CSS classes?*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header .avatar {    
    width: 69px;
    height: 69px;
    overflow: hidden;
    border-radius: 50%;
}

header .avatar img {
    width: 100%;
    height: auto;
    margin-top: -16px;
    margin-right: -3x;
}

header h1 {
    text-align: left;
    margin-bottom: 3px;
}

header a {
    text-decoration: none; 
    color:inherit;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

header ul > li {
    float: left;
    display: block;
    padding-right: 0.8em;
}

header ul img {
    color: #ff0000;
    width: 25px;
}

nav {
    text-align: center;
}

body {
    font: 1.1em/1.5em sans-serif;
    max-width: 55em;
    margin: 1em auto;
    padding: 0 .6em;
}

h1, h2, h3 {
    line-height: 1.2em;
    text-align: center;
}

/*
 * TODO: figure out how inheritance works in CSS so I can nest it all under .books 
*/

ul.books {
    margin: 0 auto;
    text-align: center;
    padding: 0
}

ul.books > li {
    display: inline-block;
    vertical-align: top;
    padding: 13px;
}

.books h4 {
    margin: 0;
    /* 
     * em are similar to %; they scale according to default text size; but they cascade
     * font-size/line-height font-family
    */
    font: 0.9em/1.2em sans-serif;
}

.books p {
    margin: 0;
    font: 0.8em/1.1em sans-serif;
}

footer {
    text-align: center;
    font: 0.7em/1.2em sans-serif;
}


/* just playing around: https://brenna.github.io/csshexagon/*/
/*
.hexagon {
  position: relative;
  width: 69px; 
  height: 39.84px;
  margin: 19.92px 0;
  background-image: url(https://raph.8el.eu/images/avatar.jpeg);
  background-size: auto 79.6743px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 48.79px;
  height: 48.79px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 10.10px;
}

.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 69.0000px;
  height: 39.83716857408418px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-19.9186px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-19.9186px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-19.9186px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -24.3952px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -24.3952px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 69.0000px;
  height: 39.8372px;
  z-index: 2;
  background: inherit;
}


img {
    max-width: 80%;
    display: block;
    margin: .75em auto;
}

code {
    font: 1.1em/1.5em monospace;
}

table {
    width: 100%;
}

table, td {
    border-spacing: 1px;
}

td {
    padding: 0.5em;
}

dt {
    font-weight: bold;
}

ul, ol {
    text-align: left;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font: 0.7em/1.2em sans-serif;
    font-style: italic;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

blockquote {
    border-left: 1px solid black;
    padding-left: 1em;
    color: #777;
}

.fleuron {
    text-align: center;
    font: 2.5em/1em sans-serif;
}

.footnotes {
    font: 0.7em/1.2em sans-serif;
}

.blognav {
    display: flex;
    justify-content: space-between;
    font: 2em/1em sans-serif;
}

.blogtoc {
    text-align: center;
}

.horbar {
    max-width: 25%;
}

.codebox {
    padding-left: 4em;
}
*/
