<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content={{ .Site.Params.Author }}>
    <meta name="description" content={{ .Site.Params.Description }}>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<header>
    <h1 style="text-align: left;margin-bottom: 3px"> {{ .Site.Params.Author }} </h1>
    <ul class="socials">
        <li><a href="pgp-key.txt"><img src="key.svg" title="pgp key"/></a></li>
        <li><a href={{ .Site.Params.Email }}><img src="email.svg" title="mail"/></li>
        <li><a href={{ .Site.Params.Github }}><img src="github.svg" title="my repo"/></a></li>
    </ul>
</header>
