{{ block "navbar" . }}

<hr/>
<nav>
<!-- TODO: clean this logic and make a menu in config.yaml? -->
    {{ with .IsHome }}
    home
    {{ else }}
    <a href="/">home</a>
    {{ end }}

    &bull;

    {{ if and (eq .Section "log") (eq .Kind "section") }}
    log
    {{ else }}
    <a href="/log/">log</a>
    {{ end }}

    &bull;

    {{ if and (eq .Section "bookshelf") (eq .Kind "section") }}
    bookshelf
    {{ else }}
    <a href="/bookshelf/">bookshelf</a>
    {{ end }}
    
    &bull;

    {{ if and (eq .Section "recipes") (eq .Kind "section") }}
    recipes
    {{ else }}
    <a href="/recipes/">recipes</a>
    {{ end }}
</nav>
<hr/>

{{ end }}
