{{ block "navbar" . }}
<hr/>
<nav>
<!-- TODO: clean this logic and make a menu in config.yaml? -->
    {{ with .IsHome }}
    <a>home</a>
    {{ else }}
    <a href="/">home</a>
    {{ end }}

    {{ if eq .Section "log" }}
    &bull; <a>log</a>
    {{ else }}
    &bull; <a href="/log/">log</a>
    {{ end }}

    {{ if eq .Section "bookshelf" }}
    &bull; <a>bookshelf</a>
    {{ else }}
    &bull; <a href="/bookshelf/">bookshelf</a>
    {{ end }}

    {{ if eq .Section "recipes" }}
    &bull; <a>recipes</a>
    {{ else }}
    &bull; <a href="/recipes/">recipes</a>
    {{ end }}
</nav>
<hr/>
{{ end }}
