{{ define "main" }}

{{ .Content }}

<div style="text-align: center">
<button id="tip-button" style="height: 50px;" onClick="getInvoice()">tip me some sats!</button>
</div>

<a id="invoice-link" href="" style="display: block;">
    <div id="qrcode" style="display: flex; justify-content: center; text-align: center;"></div>
    </div>
</a>

<script src="/js/qrcode.min.js" ></script>
<script src="/js/lnsocket.js" ></script>
<!-- this is horrible! clean up and learn how to write proper javascript -->
<script>
    function getInvoice() {
            fetch("https://raph.8el.eu/api/getinvoice")
                .then( r => r.text())
                .then( invoice => { 
                        console.log(invoice);

                        link = "lightning:" + invoice;

                        qr = new QRCode("qrcode", {
                                text: link,
                                width: 256,
                                height: 256,
                                colorDark : "#000000",
                                colorLight : "#ffffff",
                                correctLevel : QRCode.CorrectLevel.L
                            });

                        invoiceLink = document.querySelector("#invoice-link");
                        invoiceLink.href = link ;

                        tipButton = document.getElementById("tip-button");
                        tipButton.style.display = "none";
                    })
        };

    async function fetchAndAwaitInvoice() {
            const LNSocket = await lnsocket_init()
            const ln = LNSocket()

            ln.genkey()
            await ln.connect_and_init("<pubkey>", "ws://<ip-of-proxy-to-cln>")

            const rune = "<rune>"
            const label = `tips/${new Date().getTime()}`
            const params = {
                    amount_msat: "any",
                    label: label,
                    description: "from website tip jar"
                }

            const invoice = await ln.rpc({ rune, "invoice", params })
            console.log(invoice)

            const res = await ln.rpc({ rune, "waitinvoice", { label: label } })           
            console.log(res)
        };
</script>

{{ end }}
