{{ define "main" }}

{{ .Content }}

<div style="text-align: center">
    <button class="button" onClick="onClickTipButton()">
    ⚡️ send some sats ⚡️
    </button>
</div>

<a id="invoice-link" href="" style="display: block; text-decoration: none; color: black;">
    <div id="qrcode" style="display: flex; justify-content: center; text-align: center;">
    </div>
</a>

<script src="/js/qrcode.min.js" ></script>
<script src="/js/lnsocket.js" ></script>
<script src="/js/tips.js" ></script>

{{ end }}
